<div class="card front vertical {{{ cardType }}}">
  <div class="contents">
    <article>
      <div class="item">{{> icon img='health_small' }} Health / regain health</div>
      <div class="item">{{> icon img='d20_small' }} A D20 die roll</div>
      <div class="item">{{> icon img='target_small' }} Unique target(s)</div>
      <div class="item">{{> icon img='damage_small' }} Damage / attack</div>
      <div class="item">{{> icon img='melee_small' }} Melee abilities</div>
      <div class="item">{{> icon img='ranged_small' }} Ranged abilities</div>
      <div class="item">{{> icon img='magic_small' }} Magic abilities</div>
      <div class="item">{{> icon img='music_small' }} Music abilities</div>
      <div class="item">{{> icon img='cards_small' }} Drawing / playing cards</div>
      <br />
      <div class="item"><strong>I/II/III/IV</strong> &nbsp;Tier</div>
    </article>
  </div>
</div>
