@import '../../styles/card-constants.scss';

$icon-width: 0.2in;

@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');

$font-header: 'Comfortaa', sans-serif !important;
$font-body: 'minion-pro', serif !important;
$large-icon: 0.5in;
$edge: 0.115in; /* .125 on Expedition */
$padding: 12pt;
$top-padding: 0.19in;
$small: 4pt;
$tiny: 2pt;
$thin: 0.8pt;
$border-weight: 1.1pt; /* note that this also needs to be changed in banner SVG files */
$footer-height: 0.5in;

$text-color: #212121; /* grey900 */
$black-faded: #616161; /* grey700 */
$white-faded: #EEEEEE; /* grey200 */
$text-color-white: #eee;
$text-size-back-title: 20pt;
$text-size-front-title: 14pt;
$text-size-content: 12pt;
$text-size-small: 9pt;

$color-red: #D84315; /* red800 */
$color-green: #1B5E20; /* green900 */
$color-blue: #0D47A1; /* blue900 */

#renderer.Urbanity {

  /* ===== THE CARDS ===== */

  .card {
    border: $border solid black;
    border-radius: $border * 2;
    font-family: $font-body;

    .contents {
      top: 0 !important;
      left: 0 !important;
      margin-left: 0;
      margin-top: -$border;
    }

    header {
      position: relative;
      margin: $top-padding $edge 0 $edge;

      .name {
        font-size: $text-size-front-title;
        font-family: $font-header;
        font-weight: 700;
        letter-spacing: -0.5pt;
        line-height: 1.15;
      }

      .icons {
        font-weight: bold;
        color: white;
        font-size: 1.1 * $text-size-content;
        margin-top: -$tiny;
        margin-bottom: $small;
        &>span {
          margin-right: $tiny;
          display: inline-block;
          width: 0.21in;
          height: 0.21in;
          text-align: center;
          border-radius: 0.04in;
        }
        .scoreBlack, .scoreRed {
          position: relative;
          svg {
            position: absolute;
            top: $tiny + $tiny;
            left: 0;
          }
        }
        .scoreRed svg path {
          fill: $color-red;
          stroke: $color-red;
        }
        .budgetBlack {
          background: black;
        }
        .budgetRed {
          background: $color-red;
        }
      }
    }

    article {
      position: relative;
      clear: left;
      margin: 0 $edge $edge $edge;
      padding-top: $small;
      line-height: 1.2;

      br {
        display: block;
        content: "";

        &.padded {
          margin: 7px 0;
        }
      }

      .effects {
        margin-top: $small;
      }

      .score {
        text-align: center;
        font-size: 0.8 * $large-icon;
        svg {
          height: $large-icon;
          width: $large-icon;
          padding: $padding $small 0 $small;
        }
        .scoreBlack, .scoreRed {
          position: relative;
          &:before {
            position: absolute;
            top: 0.2in;
            left: 0.5in;
          }
        }
        .scoreRed {
          color: $color-red;
          svg path {
            stroke: $color-red;
            fill: $color-red;
          }
        }
        .scoreBlack.plus, .scoreRed.minus {
          color: white;
          height: 0.55in;
          width: 0.55in;
          border-radius: 0.05in;
          margin: auto;
        }
        .scoreBlack.plus {
          background: $text-color;
        }
        .scoreRed.minus {
          background: $color-red;
        }
      }
    }

    footer {
      position: absolute;
      left: $edge; bottom: $border; right: $edge;
      height: auto;
      text-align: left;
      line-height: 1.15;

      .flavortext {
        font-style: italic;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
      }
    }

    &.Citizen {
      .score {
        margin-top: $padding;
      }
    }

    &.Politics {
      &.Basic.Action {
        border-color: blue;
      }
      footer {
        background-color: white;
        padding-top: $small;
      }
    }

    &.Reference article {
      text-align: left;
      margin-top: $edge;
      font-size: $text-size-content;

      h3 {
        font-size: $text-size-front-title;
        font-family: $font-header;
        font-weight: bold;
        margin-top: $tiny;
      }
      ul {
        margin-bottom: $text-size-small;
        margin-left: $text-size-content;
      }
    }
  }

  /* ===== THE CARD BACKS ===== */

  .card.back {

    h1, h2 {
      position: absolute;
      left: 0;
      right: 0;
    }

    h1 {
      top: 0.75in;
    }

    h2 {
      font-size: 75%;
      bottom: 0.6in;
    }
  }


  /* ===== BACKGROUNDS ===== */

  .card.front, .card.back {
    &:before {
      content: "";
      position: absolute;
      top: 1.125in; left: .625in;
      width: 1in;
      height: 1in;
      background: no-repeat center center;
      background-size: 1in 1in;
    }
  }
}
