{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [">5%", "last 2 years", "last 3 iOS versions", "chrome >= 39"]
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver-zavatta",
      {
        "useRelative": true,
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json"],
        "alias": {
          "@expedition-app": "./services/app",
          "@expedition-qdl": "./shared"
        }
      }
    ]
  ]
}
