node_modules
docs
plugins
dist
hooks
www
bower_components
.tmp
Thumbs.db
*.apk
platforms
docker_context
npm-debug.log
google-services.json
GoogleService-Info.plist
res/

# Removed until NPM 5 sorts out bugs (breaks when building on different platforms)
package-lock.json
