<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Expedition Quest Creator</title>

    <!-- App colors -->
    <meta name="msapplication-TileColor" content="#000000"> <!-- Windows 8 tile -->
    <meta name="theme-color" content="#000000"> <!-- Android task switcher -->

    <link rel='shortcut icon' href='assets/img/favicon.ico' type='image/x-icon'/>
    <script src="https://unpkg.com/react@15.3.1/dist/react.js"></script>
    <script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="https://www.gstatic.com/realtime/realtime-client-utils.js"></script>
  </head>
  <body>
    {{{ body }}}
    <script type="text/javascript" src="init.js"></script>
    <script type="text/javascript" src="bundle.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-47408800-7', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
