<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Expedition Quest Creator</title>

    <!-- App colors -->
    <meta name="msapplication-TileColor" content="#000000"> <!-- Windows 8 tile -->
    <meta name="theme-color" content="#000000"> <!-- Android task switcher -->

    <link rel='shortcut icon' href='assets/img/favicon.ico' type='image/x-icon'/>
    <script src="scripts/apis.google.min.js"></script>
    <script src="scripts/jquery.3.2.1.min.js"></script>
    <script src="scripts/react.min.js"></script>
    <script src="scripts/realtime-client-utils.min.js"></script>
  </head>
  <body>
    {{{ body }}}
    <script type="text/javascript" src="bundle.js"></script>
    <!-- begin olark code -->
    <script type="text/javascript" async> ;(function(o,l,a,r,k,y){if(o.olark)return; r="script";y=l.createElement(r);r=l.getElementsByTagName(r)[0]; y.async=1;y.src="//"+a;r.parentNode.insertBefore(y,r); y=o.olark=function(){k.s.push(arguments);k.t.push(+new Date)}; y.extend=function(i,j){y("extend",i,j)}; y.identify=function(i){y("identify",k.i=i)}; y.configure=function(i,j){y("configure",i,j);k.c[i]=j}; k=y._={s:[],t:[+new Date],c:{},l:a}; })(window,document,"static.olark.com/jsclient/loader.js");
    /* custom configuration goes here (www.olark.com/documentation) */
    olark.identify('6441-517-10-6635');</script>
    <!-- end olark code -->
  </body>
</html>
