<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Expedition Quest Creator</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/graph.css"/>
    <script src="https://npmcdn.com/react@15.3.1/dist/react.js"></script>
    <script src="https://npmcdn.com/jquery@3.1.0/dist/jquery.min.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>
  </head>
  <body>
    {{{ body }}}
    <script type="text/javascript" src="init.js"></script>
    <script type="text/javascript" src="bundle.js"></script>
  </body>
</html>