$fontFamilyBase: MinionPro, serif;
$headerFont: Cinzel, serif;
$headerFontLetterSpacing: 0.2px !important;
$horrorFont: NothingYouCouldDo, serif !important;

$font_color_primary: #000000;
$font_color_faded: #666666;

$border_primary: 0.02in solid #000;
$border_accent: 0.02in solid #666;
$border_accent_thin: 0.01in solid #333;
$border_faded: 0.02in solid #888;

$bg_primary: #F4ECC8;
$bg_primary_faded: #ebe8da; // AKA The Horror
$bg_inactive: #222222;
$bg_titlebar: rgba(255, 255, 235, 0.65);
$bg_interactive: rgba(245, 238, 210, 0.7);
$bg_active: rgba(255, 255, 255, 0.9);

$font_color_dark_primary: #FFFFFF;
$border_dark_primary: 0.02in solid #999;
$border_dark_subtle: 0.02in solid #333;
$bg_dark_primary: #161011;
$bg_dark_titlebar: rgba(110, 110, 110, 0.6);
$bg_dark_interactive: rgba(35, 35, 35, 0.5);

$font_color_red_primary: #FFFFFF;
$border_red_primary: 0.02in solid #999;
$bg_red_primary: #B71C1C; /* red900 */
$bg_red_titlebar: rgba(120, 14, 14, 1);
$bg_red_interactive: rgba(60, 20, 20, 1);
$white_on_red_text_shadow: 0 1px 2px rgba(0,0,0,0.3) !important;

$magic_red: #c4232f;
$melee_blue: #00a3bb;
$music_purple: #982f77;
$ranged_green: #009a57;
$influence_purple: #6b357e;
$tech_grey: #3c3b35;
