<div class="card front horizontal {{{ cardType }}}">
  <div class="contents">
    <header>
      <div class="name mdl-badge-left" data-badge="1">{{{ name }}}</div>
    </header>
    <article>
      <div class="adventurertext mdl-badge-left" data-badge="4"><div class="child">
        <div>
          <strong>Starting abilities:</strong>
          <br/>
          {{{ startingabilities }}}
        </div>
      </div></div>
    </article>
    <footer>
      <div class="flavortext mdl-badge-left">{{{ flavortext }}}</div>
    </footer>
    <ul class="hp-tracker-horizontal">
      <li>12
      <li>11
      <li>10
      <li>9
      <li>8
      <li>7
      <li>6
      <li>5
      <li>4
      <li>3
      <li>2
      <li>1
      <li>0
    </ul>
  </div>
</div>
