<div class="card front {{{ cardType }}}">
  <div class="contents">
    <!-- <header>
      <div class="name">Combat Turn Guide</div>
    </header>
    <article>
      <ol>
        <li>Draw 3 abilities face down
        <li>Start timer, flip cards
        <li>Play 1 ability
        <li>Once everyone's played, stop the timer
        <li>Players decide ability order
        <li>Roll, follow ability instructions
        <li>Roleplay what happened
        <li>Take damage
        <li>Shuffle ALL ability cards
        <li>Repeat until dead!
      </ol>
    </article>
    <footer>
      <div class="cardType">Cheat Sheet</div>
    </footer> -->
  </div>
</div>
