<div class="card front {{{ cardType }}}">
  <div class="contents">
    <header>
      <div class="name">Icon Cheat Sheet</div>
    </header>
    <article>
      <div>{{> icon img='adventurer_small' }} Adventurer</div>
      <div>{{> icon img='hp_small' }} Health / regain Health</div>
      <div>{{> icon img='roll_small' }} A D20 die roll</div>
      <!-- <div>Crit Hit: when {{> icon img='roll_small' }} = 20 on dice</div> -->
      <!-- <div>Crit Miss: when {{> icon img='roll_small' }} = 1 on dice</div> -->
      <div>{{> icon img='target_small' }} Unique target(s)</div>
      <div>{{> icon img='damage_small' }} Damage (all types)</div>
      <div>{{> icon img='melee_small' }} Melee abilities</div>
      <div>{{> icon img='ranged_small' }} Ranged abilities</div>
      <div>{{> icon img='magic_small' }} Magic abilities</div>
      <div>{{> icon img='music_small' }} Music abilities</div>
      <div>{{> icon img='loot_small' }} Loot (keep in front of you)</div>
      <div><strong>I/II/III/IV</strong> Tier (enemy power, loot value)</div>
    </article>
    <footer>
      <div class="cardType">Cheat Sheet</div>
    </footer>
  </div>
</div>
