<div class="card back vertical {{ cardType }} tier{{ tier }}">
  <div class="contents">
    {{#if naming }}<div class="naming">{{ naming }}</div>{{/if}}
    <div class="tier">{{romanize tier }}</div>
  </div>
</div>