@import '../../styles/card-constants.scss';

@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

$font-header: 'Maven Pro', sans-serif !important;
$font-body: "minion-pro", serif !important;
$padding: 12pt;
$top-padding: 0.19in;
$tiny: 2pt;
$thin: 0.8pt;
$border-weight: 1.1pt; /* note that this also needs to be changed in banner SVG files */
$footer-height: 0.4in;

$text-color: #2e200f;
$text-color-white: #eee;
$text-size-back-title: 20pt;
$text-size-front-title: 14pt;
$text-size-content: 10.5pt;
$text-size-small: 9pt;

#renderArea.UrbanChaos {

  /* ===== THE CARDS ===== */

  .card {

    border: $border solid black;
    border-radius: $border * 2;
    font-family: $font-body;

    .contents {
      top: 0 !important;
      left: 0 !important;
      margin-left: 0;
      margin-top: -$border;
    }

    header {

      position: relative;
      margin: $top-padding $edge 3pt $edge;

      .name {
        font-size: $text-size-front-title;
        font-family: $font-header;
        font-weight: 700;
        letter-spacing: -0.5pt;
        line-height: 1.15;
      }
    }


    article {

      position: relative;
      clear: left;
      margin: 0 $edge $edge $edge;
      padding-top: 4pt;
      line-height: 1.2;

      br {
        display: block;
        content: "";

        &.padded {
          margin: 7px 0;
        }
      }

      .traits {
        padding-left: $text-size-content;
      }
    }

    footer {

      position: absolute;
      left: $edge; bottom: $border; right: $edge;
      height: $footer-height;
      text-align: left;

      .flavortext {
        font-style: italic;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
      }
    }

    &.horizontal {

      &.front .contents {
        margin-top: -$border/2;
        margin-left: -$border/2;
      }
      &.back .contents {
        margin-top: 0;
        margin-left: 0;
      }

      header {
        padding-left: 16pt;
        padding-right: 16pt;
      }

      article {
        padding-left: 16pt;
        padding-right: 16pt;
      }

      footer {
        border-right: none;
        bottom: 0.25in;
        right: 0.315in;
        left: 16pt;
      }
    }
  }

  /* ===== THE CARD BACKS ===== */

  .card.back {

    h1, h2 {
      position: absolute;
      left: 0;
      right: 0;
    }

    h1 {
      top: 0.75in;
    }

    h2 {
      font-size: 75%;
      bottom: 0.6in;
    }
  }


  /* ===== BACKGROUNDS ===== */

  .card.front, .card.back {

    &:before {
      content: "";
      position: absolute;
      top: 1.125in; left: .625in;
      width: 1in;
      height: 1in;

      background: no-repeat center center;
      background-size: 1in 1in;
    }
  }
}
