/* node stuff */

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

.graphcontainer {
  font-family: 'Source Sans Pro', sans-serif;
  color: #323232;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  background-color: #333;
  background: url('../img/gridtile.png');
  position: relative;
}

.graphcontainer svg {
  overflow: visible;
}

.graphcontainer .node {
  position: absolute;
  width:180px;
  border-radius: 4px;
  -webkit-box-shadow: 6px 6px 28px -2px rgba(0,0,0,0.4);
  -moz-box-shadow: 6px 6px 28px -2px rgba(0,0,0,0.4);
  box-shadow: 6px 6px 28px -2px rgba(0,0,0,0.4);

  background-color: rgba(0,0,0,.7);
}

.graphcontainer .node-seperator {
  color: black;
  border-color: black;
}

.graphcontainer .node-content {
  padding: 10px;
}

.graphcontainer .node-title {
  font-size:10px;
}

.graphcontainer .node-header {


  background: rgba(248,80,50,1);

  padding-left: 10px;
    text-transform: uppercase;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  border-bottom: 1px solid #353535;

  padding-top: 3px;
    height: 23px;

    font-size: 13px;
    letter-spacing: 1px;

  color: #FFECB3;
  font-weight: 600;
}

.graphcontainer .connector {
  fill:none;
  stroke:#dadada;
  stroke-width:1;
  -webkit-box-shadow: 6px 6px 28px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 28px -2px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 28px -2px rgba(0,0,0,0.75);
      -webkit-filter: drop-shadow( -5px -5px 5px #000 );
            filter: drop-shadow( -5px -5px 5px #000 );
}

.graphcontainer .nodeInputWrapper {
  width : 65%;
  float: left;
}

.graphcontainer .nodeOutputWrapper {
  width : 35%;
  float: right;
  text-align: right;
}


.graphcontainer .nodeInputList, .nodeOutputList {
  list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
}

.graphcontainer .nodeOutputList li a {
  font-size:10px;
  text-decoration: none;
    background: transparent;
    box-sizing: border-box;
    color: #FFC107;

}

.graphcontainer .nodeInputList li a {
  font-size:10px;
  color: #FF6F00;
    display: block;
    text-decoration: none;
    background: transparent;
    box-sizing: border-box;
}
.graphcontainer .nodeInputList li a i {
  padding-right: 5px;
}

.graphcontainer .inputDot {
  width: 12px;
    height: 12px;
    display: inline-block;
    position: absolute;
    background: #e6e6e6;
    border-radius: 50%;
    top: 0;
    right: 3px;
    left: auto;
    border: 2px solid #fff;
}


.graphcontainer .EndPoint { fill:none; stroke:#888888; stroke-width:2 }

.graphcontainer .pin-input {
      background: transparent;
    padding: 5px;
    width: 50px;
    display: inline-block;
    margin-left: 16px;
    border-color: #333333;
}

.graphcontainer .node-menu {
  display: block;
  z-index: 10020;
}

