$bg_primary: #141414;
$bg_secondary: #212121;

$grey800: #424242;

@font-face {
  font-family: 'CinzelBold';
  font-style: normal;
  font-weight: 700;
  src: local('Cinzel-Bold'), url(fonts/Cinzel-Bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'MinionPro';
  src: url('fonts/Minion Pro Regular.ttf') format('truetype');
}

html, body, #react-app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

// ===============================================
// Component styles
// ===============================================

button {
  font-family: 'MinionPro' !important;
}

.dialog {
  background-color: rgba(0,0,0,0.65) !important;
}

.dialogTitle {
  background-color: $grey800;
  margin-bottom: 20px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-family: 'CinzelBold' !important;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &.loading {
    background: $bg_primary;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    padding: 30px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
  }

  .contents {
    flex: 10;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction:column;
  }
}

.quest_app_bar {
  > :first-child {
    height: 54px !important;
    margin-top: -6px !important;
    h1 {
      font-family: 'CinzelBold';
    }
  }
  .toolbar {
    background: $bg_secondary !important;
    height: 44px !important;
    button {
      margin: 4px 0 !important;
      min-width: 60px !important;
    }
  }
}

.quest_ide {
  flex:10;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: row;

  .editor {
    flex: 1;
    position: relative;
  }
  .preview {
    position: relative;
    flex: 0 0 560px;

    .app_root {
      height: 100%;
    }

    .editor_override {
      height: calc(100% - 55px);
    }

    .app {
      font-family: MinionPro, sans-serif !important;

      button {
        font-family: MinionPro, sans-serif !important;
      }
    }
  }

  .app_controls {
    text-align: center;
  }
}

.splash {
  background: $bg_primary;
  height: 100%;

  .body {
    text-align: center;
  }

  h1 {
    color: white;
    font-size: 2em;
    font-weight: bold;
  }
  .learnMore {
    margin: 0.8em auto 2.5em auto;
    a {
      color: white;
      opacity: 0.8;
      text-decoration: none;
    }
  }
  .previewVideo {
    background: $bg_primary;
    box-shadow: 0 0 20px #616161;
    border-radius: 2px;
    width: 710px;
    height: 700px;
    margin: auto;
  }
}


.bottomPanel {
  height: 28px;

  .header {
    background: rgba(0,0,0,0.5);
    border-bottom: 1px black solid;

    svg {
      cursor: pointer;
      float: right;
    }

    h2 {
      font-family: "MinionPro";
      margin: 0px;
      font-size: 20px;
      color: #CCC;
      width:100%;
      display:block;
    }
  }

  .console {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: row;
    color: white;
    font-size: 20px;

    .interactive {
      width: 100%;
      background: rgba(0,0,0,0.2);

      textarea {
        resize: none;
        color: white;
        padding: 5px;
        padding-left: 20px;
        box-sizing: border-box;
        border: 0;
        font-family: Monaco, Melo, "Ubuntu Mono", monospace;
        font-size: 20px;
        width: 100%;
        height: calc(100% - 100px);
        overflow-y: auto;
        background: rgba(0,0,0,0.2);
      }
    }

    .preview {
      overflow-y: hidden;
      position: relative;
      flex: 0 0 560px;
      font-family: Monaco, Melo, "Ubuntu Mono", monospace;

      &>div {
        height: calc(100% - 23px);
        overflow-y: auto;
      }

      .scope {
        padding: 10px;
        border-bottom: 1px gray solid;
        display:flex;
        flex-direction: row;

        .noScope p {
          color: #888;
          margin-top:30px;
          padding-left: 10px;
        } 
      }
    }
  }
}

// ------ SplitPane styling ------

.Resizer {
  background: #000;
  opacity: .2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;

  &:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }

  &.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;

    &:hover {
      border-top: 5px solid rgba(0, 0, 0, 0.5);
      border-bottom: 5px solid rgba(0, 0, 0, 0.5);
    }
  }

  &.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;

    &:hover {
      border-left: 5px solid rgba(0, 0, 0, 0.5);
      border-right: 5px solid rgba(0, 0, 0, 0.5);
    }
  }

  &.disabled {
    cursor: not-allowed;
    &:hover {
      border-color: transparent;
    }
  }
}