<div class="card back horizontal {{ class }} {{ cardType }}">
  <div class="contents">
    <div class="cardType">{{ cardType }}</div>
    <div class="website">ExpeditionRPG.com</div>
    <div class="version">{{version version }}</div>
  </div>
</div>