@import 'constants.scss';

body.singlePage {

  $bleed: 0.125in; /* background art should extend to here */
  $card-height: 3.5in + 2 * $bleed;
  $card-width: 2.5in + 2 * $bleed;

  .printInstructions {
    display: none !important;
  }

  .page {
    width: $card-width !important;
    height: $card-height !important;
  }

  .card {

    width: $card-width !important;
    height: $card-height !important;
    padding: 0 !important;
    /*border: 2 * $bleed solid black;*/
    /* ONLY FOR TAKING SCREENSHOTS */
    /*border-radius: $bleed;*/

    &.front, &.back {

      &:before {
        top: 0;
        left: 0;
      }
    }

    .contents {
      top: $bleed;
      left: $bleed;
    }

    &.front.horizontal {

      .contents {
        height: 2.25in;
        width: 3.25in;
        margin: 0;
      }
    }

    &.Ability {
      border-color: #E5DFBF;
    }

    &.Adventurer {
      border-color: #D3D3D3;
      &.back {
        border-color: #B6B7B2;
      }
    }

    &.Encounter {
      border-color: #2A292E;
    }

    &.Helper {
      border-color: #E5DFBF;
    }

    &.Loot {
      border-color: #F2EFEA;
      &.back {
        border-color: #4E3025;
      }
    }
  }
}

strong {

  font-family: $font-header;
  font-size: 100%;
  font-weight: bold;

  .symbol {
    font-weight: normal;
  }
}



.tier {
  font-family: $font-header;
}

.inline_icon {

  height: $icon-width;
  line-height: $icon-width;
  width: auto;
  display: inline-block;
  vertical-align: initial;
  margin: 0.014in 0 -0.014in 0;
  padding: 0 0.01in; /* prevents icon truncation */

  .svg {
    height: $icon-width;
    width: auto;
  }
}

.hp-tracker-vertical-left {

  list-style: none;
  text-align: right;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0.21in;
  left: $border;
  z-index: 99;
  font-size: $base;

  &.countdown {
    top: 0.17in;
  }

  li {
    line-height: 1;
    padding-bottom: 4.3pt;
  }
}

.hp-tracker-vertical-right {

  list-style: none;
  text-align: right;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0.2in;
  right: $border;
  z-index: 99;
  font-size: $base;

  li {
    line-height: 1;
    padding-bottom: 4.3pt;
  }
}

.hp-tracker-horizontal, .counter-horizontal {

  list-style: none;
  display: block;
  margin: 0;
  padding: 0 10pt 0.03in 10pt;
  position: absolute;
  right: $border;
  bottom: 0.1in;
  font-size: $base;
  text-align: center;

  td {
    padding: 0.05in;
  }
}

.counter-horizontal {
  margin: auto;
  padding: 0;
  left: 0;
  right: 0;
  bottom: -0.1in;

  span {
    padding: 0 0.05in;
    display: inline-block;
  }
}

.adventurer-hp-tracker {

  font-size: $base;
  font-family: $font-body;
  list-style: none;
  text-align: right;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0in;
  right: $border;
  z-index: 99;
  font-size: $base;

  li {
    line-height: 1;
    padding-bottom: 4.3pt;
  }
}


/* ===== THE CARDS ===== */

.card {

  font-family: $font-body;
  font-size: $base;

  .contents {
    position: relative;
    height: 3.25in;
    width: 2.25in;
    margin-left: 0.125in;
  }

  header {

    position: relative;
    margin: $top-padding $edge 3pt $edge;

    .name {
      font-size: $large;
      font-family: $font-header;
      font-weight: 700;
      letter-spacing: -0.5pt;
      line-height: 1.15;
    }

    .health {

      position: absolute;
      top: -0.03in;
      right: 0;

      .svg {
        margin: 0;
        padding-left: 0.04in;
        margin-top: 0.04in;
        margin-bottom: -0.04in;
      }
    }
  }


  article {

    position: relative;
    clear: left;
    margin: 0 $edge $edge $edge;
    padding-top: 4pt;
    line-height: 1.2;

    .indicators {
      /* fixed height for this box for consistent card layout */
      height: .5in;
      font-weight: bold;
      text-align: center;
    }

    .abilitytext {

      display: table;
      height: 1.65in;
      width: 100%;

      .child {
        display: table-cell;
        vertical-align: middle;
      }
    }

    br {
      display: block;
      content: "";

      &.padded {
        margin: 7px 0;
      }
    }
  }

  footer {

    position: absolute;
    left: $edge; bottom: $border; right: $edge;
    height: $footer-height;
    font-size: $small;
    text-align: left;

    .flavortext {
      font-style: italic;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 999;
    }
  }

  &.horizontal {

    &.front.Encounter {

      .contents {
        margin-left: 0;
      }
    }

    header {
      padding-left: 16pt;
      padding-right: 16pt;
    }

    article {
      padding-left: 16pt;
      padding-right: 16pt;
    }

    footer {
      border-right: none;
      bottom: 0.25in;
      right: 0.315in;
      left: 16pt;
    }
  }

  &.Ability {

    header {

      padding: 0;
      text-align: center;

      .typeicon {

        position: absolute;
        left: -3pt;
        top: -2pt;

        svg {
          height: 1.3 * $icon-width;
          width: 1.3 * $icon-width;
        }
      }

      .classicon {

        position: absolute;
        right: -4pt;
        top: -2pt;

        svg {
          height: 1.3 * $icon-width;
          width: 1.3 * $icon-width;
        }
      }

      .name {
        padding-left: 20pt;
        padding-right: 19pt;
      }
    }

    article {

      .preamble {
        min-height: 0.65in;
        text-align: center;
      }

      .rng {
        min-height: 0.65in;
      }
    }

    footer {
      text-align: center;
    }
  }

  &.Loot {
    .abilitytext {
      height: auto;
      min-height: 0.4in;
    }

    .rng {
      min-height: 0.65in;
      text-align: left;
    }
  }

  &.Helper {

    article {
      padding-top: 0.2in;
    }

    .inline_icon {

      height: 1.4 * $icon-width;
      line-height: 1.4 * $icon-width;
      margin-top: 0.055in;
      margin-bottom: -0.055in;

      .svg {
        height: 1.4 * $icon-width;
      }
    }

    .item {
      margin-top: 0.025in;
    }

    br {
      display: block;
      margin: 0;
      padding: 0;
      height: 0.08in;
      line-height: 0in;
      content: "";
    }
  }

  /* Cards with trackers */
  &.Adventurer, &.Encounter, &.Loot {

    .flavortext {
      padding: 0 $padding;
    }

    &.bottomBar .flavortext {
      padding-bottom: 0.8*$padding;
    }
  }

  &.Adventurer {

    text-align: center;

    .adventurertext {
      margin-top: 0.25in;
    }

    footer {
      text-align: center;
      right: 0.1in;
      left: 0.1in;
    }
  }

  &.Encounter {

    svg {
      fill: $text-color-white;
      stroke: $text-color-white;
    }

    header {
      padding-right: 0;
    }

    article {
      .ongoing {
        margin-top: $base;
      }

      .surge {
        padding-top: $base;
      }
    }

    .health, .hp-tracker {
      color: #CFCFCF;
    }

    &.hp10 .hp-tracker-vertical-right li {
      padding-bottom: 0.042in;
    }
  }

  &.Loot {

    text-align: center;

    &.tracker {

      article {
        padding: 0 0.15in;
      }

      .hp-tracker {
        color: #888;
      }

      .hp-tracker-vertical-right {
        top: 0.02in;
      }

      &.bottomBar {

        footer {
          bottom: 0.28in;
        }
      }
    }

    footer {
      text-align: center;
    }
  }

  &.Helper {
    article {
      div {
        padding-bottom: 0.02in;
      }
    }
  }
}


/* ===== THE CARD BACKS ===== */

.card.back {

  text-align: center;
  font-size: $huge;
  font-family: $font-header;

  .naming {
    font-family: $font-body;
    color: #F6EECA;
    opacity: 0.6;
    font-size: 10pt;
    position: absolute;
  }

  .tier {
    position: absolute;
    bottom: 0.95in; left: 0; right: 0;
    text-align: center;
  }

  .hp-tracker-horizontal {
    padding-right: 14pt;
  }

  .hp-tracker-vertical, .hp-tracker-horizontal {
    font-size: $base;
    font-family: $font-body;
  }

  &.Encounter, &.Adventurer {
    .cardType {
      top: 0.2in;
    }
    .class {
      bottom: 0.2in;
    }
  }

  &.Adventurer {
    .naming {
      color: white;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &.Ability {
    .naming {
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &.Encounter {
    .hp-tracker-vertical-right {
      top: 0.10in;
    }
    .hp-tracker-horizontal {
      bottom: 0;
    }
    .hp-tracker-vertical-left {
      bottom: 0.09in;
    }
  }

  &.Loot {
    .naming {
      color: #F7F7F7;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}


/* ===== BACKGROUNDS ===== */

.card.front, .card.back {

  &:before {
    content: "";
    position: absolute;
    top: -0.125in; left: -0.125in;
    width: 2.75in;
    height: 3.75in;

    background: no-repeat center center;
    background-size: 2.75in 3.75in;
  }
}

.card.front.Ability { &:before {
  background-image: url(../images/fronts/ability.jpg) !important;
}}
.card.back.Magic { &:before {
  background-image: url(../images/backs/ability-magic.jpg) !important;
}}
.card.back.Melee { &:before {
  background-image: url(../images/backs/ability-melee.jpg) !important;
}}
.card.back.Music { &:before {
  background-image: url(../images/backs/ability-music.jpg) !important;
}}
.card.back.Ranged { &:before {
  background-image: url(../images/backs/ability-ranged.jpg) !important;
}}

.card.front.Adventurer { &:before {
  background-image: url(../images/fronts/adventurer.jpg) !important;
}}
.card.back.Adventurer { &:before {
  background-image: url(../images/backs/adventurer.jpg) !important;
}}

.card.front.Helper { &:before {
  background-image: url(../images/fronts/helper.jpg) !important;
}}
.card.back.Helper { &:before {
  background-image: url(../images/backs/helper.jpg) !important;
}}

.card.front.Loot { &:before {
  background-image: url(../images/fronts/loot.jpg) !important;
}}
.card.back.Loot {

  .tier {
    bottom: 0.71in;
    color: #EBB956;
  }

  &:before {
    background-image: url(../images/backs/loot.jpg) !important;
  }
}

.card.front.Encounter { &:before {
  background-image: url(../images/fronts/encounter.jpg) !important;
}}
.card.back.Encounter {
  .tier {
    left: 0.03in;
    bottom: 0.48in;
  }
}
.card.back.Beast {

  .tier {
    color: #ec1f24;
  }

  &:before {
    background-image: url(../images/backs/beast.jpg) !important;
  }
}
.card.back.Bandit {

  .tier {
    color: #FEDE1A;
  }

  &:before {
    background-image: url(../images/backs/bandit.jpg) !important;
  }
}
.card.back.Fae {

  .tier {
    color: #df3f95;
  }

  &:before {
    background-image: url(../images/backs/fae.jpg) !important;
  }
}
.card.back.Undead {

  .tier {
    color: #70c25e;
  }

  &:before {
    background-image: url(../images/backs/undead.jpg) !important;
  }
}
