@import '../../styles/card-constants.scss';
@import '../../styles/card-constants.scss';

/* These are too vague to be easily graspable.... */
$padding: 12pt;
$top-padding: 0.19in;
$tiny: 2pt;
$thin: 0.8pt;
$border-weight: 1.1pt; /* note that this also needs to be changed in banner SVG files */
$footer-height: 0.4in;

$large-icon-width: 0.195in;

#renderer.Color {

  body.singlePage {
    .card {
      &.Ability {
        border-color: #E5DFBF;
      }

      &.Adventurer {
        border-color: #D3D3D3;
        &.back {
          border-color: #B6B7B2;
        }
      }

      &.Encounter {
        border-color: #2A292E;
      }

      &.Helper {
        border-color: #E5DFBF;
      }

      &.Loot {
        border-color: #F2EFEA;
        &.back {
          border-color: #4E3025;
        }
      }
    }
  }

  strong {
    font-family: $font-header;
  }

  .tier {
    font-family: $font-header;
  }

  .hp-tracker-vertical-left {
    list-style: none;
    text-align: right;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0.11in;
    left: $border;
    z-index: 99;
    font-size: $text-size-content;

    &.countdown {
      top: 0.17in;
    }

    li {
      line-height: 1;
      padding-bottom: 4.3pt;
    }
  }

  .hp-tracker-vertical-right {
    list-style: none;
    text-align: right;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0.23in;
    right: $border;
    z-index: 99;
    font-size: $text-size-content;

    li {
      line-height: 1;
      padding-bottom: 4.8pt;
    }
  }

  .hp-tracker-horizontal, .counter-horizontal {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0 12pt 0.03in 12pt;
    position: absolute;
    right: $border;
    bottom: 0.1in;
    font-size: $text-size-content;
    text-align: center;

    td {
      padding: 0.05in;
    }
  }

  .counter-horizontal {
    margin: auto;
    padding: 0;
    left: 0;
    right: 0;
    bottom: -0.1in;

    span {
      padding: 0 0.05in;
      display: inline-block;
    }
  }

  .adventurer-hp-tracker {
    font-size: $text-size-content;
    font-family: $font-body;
    list-style: none;
    text-align: right;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: $border;
    z-index: 99;
    font-size: $text-size-content;

    li {
      line-height: 1;
      padding-bottom: 4.3pt;
    }
  }

  .expansionIcon {
    position: absolute;
    bottom: $edge;
    right: -0.5pt;
    opacity: 0.5;
  }


  /* ===== THE CARDS ===== */

  .card {

    font-family: $font-body;

    header {
      position: relative;
      margin: $top-padding $edge 3pt $edge;

      .name {
        font-size: $text-size-front-title;
        font-family: $font-header;
        font-weight: 700;
        letter-spacing: -0.5pt;
        line-height: 1.15;
      }

      .health {

        position: absolute;
        top: -0.03in;
        right: 0;

        .svg {
          margin: 0;
          padding-left: 0.04in;
          margin-top: 0.04in;
          margin-bottom: -0.04in;
        }
      }
    }


    article {
      position: relative;
      clear: left;
      margin: 0 $edge $edge $edge;
      padding-top: 4pt;
      line-height: 1.2;

      .indicators {
        /* fixed height for this box for consistent card layout */
        height: .5in;
        font-weight: bold;
        text-align: center;
      }

      .abilitytext {

        display: table;
        height: 1.65in;
        width: 100%;

        .child {
          display: table-cell;
          vertical-align: middle;
        }
      }

      br {
        display: block;
        content: "";

        &.padded {
          margin: 7px 0;
        }
      }
    }

    footer {
      position: absolute;
      left: $edge; bottom: $border; right: $edge;
      height: $footer-height;
      text-align: left;

      .flavortext {
        font-style: italic;
        position: absolute;
        right: $tiny;
        bottom: 0;
        left: $tiny;
        z-index: 999;
        line-height: 1.1;
      }
    }

    &.horizontal {
      &.front.Encounter {
        .contents {
          margin-left: 0;
        }
      }

      header {
        padding-left: 16pt;
        padding-right: 16pt;
      }

      article {
        padding-left: 16pt;
        padding-right: 16pt;
      }

      footer {
        border-right: none;
        bottom: 0.25in;
        right: 0.315in;
        left: 16pt;
      }
    }

    &.Ability {
      header {
        padding: 0;
        text-align: center;

        .typeicon {
          position: absolute;
          left: -3.3pt;
          top: -1.5pt;

          svg {
            height: $large-icon-width;
            width: $large-icon-width;
          }
        }

        .classicon {
          position: absolute;
          right: -5pt;
          top: -1.5pt;

          svg {
            height: $large-icon-width;
            width: $large-icon-width;
          }
        }

        .name {
          padding-left: 20pt;
          padding-right: 19pt;
        }
      }

      article {
        .preamble {
          min-height: 0.65in;
          text-align: center;
        }

        .rng {
          min-height: 0.65in;
        }
      }

      footer {
        text-align: center;
      }
    }

    &.Loot {
      text-align: center;

      .abilitytext {
        height: auto;
        min-height: 0.4in;
      }

      .rng {
        min-height: 0.65in;
        text-align: left;
      }
    }

    &.Helper {
      article {
        padding-top: 0.2in;

        div {
          padding-bottom: 0.02in;
        }
      }

      .inline_icon {
        height: $large-icon-width;
        line-height: $large-icon-width;
        margin-top: 0.055in;
        margin-bottom: -0.055in;

        .svg {
          height: $large-icon-width;
        }
      }

      .item {
        margin-top: 0.035in;
      }

      br {
        display: block;
        margin: 0;
        padding: 0;
        height: 0.08in;
        line-height: 0in;
        content: "";
      }
    }

    /* Cards with trackers */
    &.Adventurer, &.Encounter, &.Loot {

      .flavortext {
        padding: 0 $padding;
      }

      &.bottomBar .flavortext {
        padding-bottom: 0.75*$padding;
      }
    }

    &.Adventurer {
      text-align: center;

      .adventurertext {
        margin-top: 0.25in;
      }

      footer {
        text-align: center;
        right: 0.1in;
        left: 0.1in;
      }

      .expansionIcon {
        top: 0;
        right: 0;
      }
    }

    &.Encounter {
      header {
        padding-right: 0;
      }

      article {
        .ongoing {
          margin-top: $tiny;
          margin-right: -$tiny;
        }

        .surge {
          padding-top: $tiny;
        }
      }

      .health, .hp-tracker {
        color: #CFCFCF;
      }

      .art {
        position: absolute;
        top: 0.1in;
        right: 0.3in;
        width: 1.5in;
        height: 1.5in;

        svg {
          width: 100%;
          height: 100%;
        }
      }

      &.Horror {
        article {
          width: 35%;
        }
      }

      &.hp10 .hp-tracker-vertical-right li {
        padding-bottom: 0.042in;
      }

      .expansionIcon {
        top: -1pt;
        right: 0.51in;
        opacity: 0.6;
      }
    }

    &.Loot.tracker {
      article {
        padding: 0 0.15in;
      }

      .hp-tracker {
        color: #888;
      }

      .hp-tracker-vertical-right {
        top: 0.02in;
      }

      &.bottomBar {
        footer {
          bottom: 0.28in;
        }
      }
    }

    &.Persona.front {
      .contents {
        margin: 0 !important;
        transform-origin: 38% 51%;
      }

      .expansionIcon {
        position: relative;
        display: inline-block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      article {
        padding: 0;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;

        table {
          margin-left: 2 * $edge;
        }

        tr td {
          vertical-align: middle;
          position: relative;
        }
        tr td:first-child {
          padding: 4pt 4pt 4pt 0;
          opacity: 0.7;
          text-align: center;
          border-right: 1px solid #ccc;
        }
        tr td:nth-child(2) {
          padding-left: 4pt;
        }

        .personaMarker {
          margin: 0;
          td {
            &:before, &:after {
              content: "-";
              position: absolute;
              top: 0.02in;
            }
            &:before {
              left: 0;
            }
            &:after {
              left: 0.219in;
            }
          }
          &.personaMarkerTop td {
            &:before, &:after {
              top: 0.035in;
            }
          }
          &.personaMarkerBottom td {
            padding-top: 6pt;
            padding-bottom: 2pt;
            &:before, &:after {
              top: 2pt + 0.02in;
            }
          }
        }
      }
    }
  }


  /* ===== THE CARD BACKS ===== */

  .card.back {
    .naming {
      font-family: $font-body;
      color: #F6EECA;
      opacity: 0.6;
      font-size: 10pt;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &.Ability .naming {
      bottom: -6pt;
    }

    .tier {
      position: absolute;
      bottom: 0.95in; left: 0; right: 0;
      text-align: center;
    }

    .hp-tracker-horizontal {
      padding-right: 14pt;
    }

    .hp-tracker-vertical, .hp-tracker-horizontal {
      font-size: $text-size-content;
      font-family: $font-body;
    }

    &.horizontal {
      .cardType {
        top: 0.2in;
      }
      .class {
        bottom: 0.2in;
      }
    }

    &.Adventurer {
      .naming {
        color: white;
      }
    }

    &.Encounter {
      .hp-tracker-vertical-right {
        top: 0.12in;
      }
      .hp-tracker-horizontal {
        bottom: 0;
      }
      .hp-tracker-vertical-left {
        bottom: 0.01in;
      }
    }

    &.Loot {
      .naming {
        color: #F7F7F7;
      }
    }
  }


  /* ===== BACKGROUNDS ===== */

  .card.front, .card.back {
    &:before {
      content: "";
      position: absolute;
      top: -0.125in; left: -0.125in;
      width: 2.75in;
      height: 3.75in;

      background: no-repeat center center;
      background-size: 2.75in 3.75in;
    }
  }


  .card.back.-Title {
    &.title-Horror:before {
      background-image: url(../../node_modules/expedition-art/cards/backs/TitleCardHorror.jpg) !important;
    }
  }

  .card.front.-Title {
    &.title-Horror:before {
      background-image: url(../../node_modules/expedition-art/cards/fronts/TitleCardHorror.jpg) !important;
    }
  }

  .card.front.Ability { &:before {
    background-image: url(../../node_modules/expedition-art/cards/fronts/ability.jpg) !important;
  }}
  .card.back.Influence { &:before {
    background-image: url(../../node_modules/expedition-art/cards/backs/ability-influence.jpg) !important;
  }}
  .card.back.Magic { &:before {
    background-image: url(../../node_modules/expedition-art/cards/backs/ability-magic.jpg) !important;
  }}
  .card.back.Melee { &:before {
    background-image: url(../../node_modules/expedition-art/cards/backs/ability-melee.jpg) !important;
  }}
  .card.back.Music { &:before {
    background-image: url(../../node_modules/expedition-art/cards/backs/ability-music.jpg) !important;
  }}
  .card.back.Ranged { &:before {
    background-image: url(../../node_modules/expedition-art/cards/backs/ability-ranged.jpg) !important;
  }}

  .card.front.Adventurer { &:before {
    background-image: url(../../node_modules/expedition-art/cards/fronts/adventurer.jpg) !important;
  }}
  .card.back.Adventurer { &:before {
    background-image: url(../../node_modules/expedition-art/cards/backs/adventurer.jpg) !important;
  }}

  .card.front.Helper { &:before {
    background-image: url(../../node_modules/expedition-art/cards/fronts/helper.jpg) !important;
  }}
  .card.back.Helper { &:before {
    background-image: url(../../node_modules/expedition-art/cards/backs/helper.jpg) !important;
  }}

  .card.front.Persona { &:before {
    background-image: url(../../node_modules/expedition-art/cards/fronts/persona.jpg) !important;
  }}
  .card.back.Persona { &:before {
    background-image: url(../../node_modules/expedition-art/cards/backs/persona.jpg) !important;
  }}

  .card.front.Loot { &:before {
    background-image: url(../../node_modules/expedition-art/cards/fronts/loot.jpg) !important;
  }}
  .card.back.Loot {
    .tier {
      bottom: 0.71in;
      color: #EBB956;
    }

    &:before {
      background-image: url(../../node_modules/expedition-art/cards/backs/loot.jpg) !important;
    }
  }

  .card.front.Encounter { &:before {
    background-image: url(../../node_modules/expedition-art/cards/fronts/encounter.jpg) !important;
  }}
  .card.back.Encounter {
    .tier {
      left: 0.03in;
      bottom: 0.46in;
    }
  }
  .card.back.Beast {
    .tier {
      color: #ec1f24;
    }
    &:before {
      background-image: url(../../node_modules/expedition-art/cards/backs/encounter-beast.jpg) !important;
    }
  }
  .card.back.Bandit {
    .tier {
      color: #FEDE1A;
    }
    &:before {
      background-image: url(../../node_modules/expedition-art/cards/backs/encounter-bandit.jpg) !important;
    }
  }
  .card.back.Horror {
    .tier {
      color: #00aeef;
    }
    &:before {
      background-image: url(../../node_modules/expedition-art/cards/backs/encounter-horror.jpg) !important;
    }
  }
  .card.back.Fae {
    .tier {
      color: #df3f95;
    }
    &:before {
      background-image: url(../../node_modules/expedition-art/cards/backs/encounter-fae.jpg) !important;
    }
  }
  .card.back.Undead {
    .tier {
      color: #70c25e;
    }
    &:before {
      background-image: url(../../node_modules/expedition-art/cards/backs/encounter-undead.jpg) !important;
    }
  }
}
