@import url(https://fonts.googleapis.com/css?family=Marko+One);
/*@font-face {
  font-family: 'markoone';
  src: url('/fonts/markoone.tff') format('tff');
}
*/

/* NOTE:
Minion pro font requires typekit snippet
*/

$text-color: black;

$bold: 700;

$huge: 22pt;
$large: 13pt;
$base: 10.5pt;
$small: 9pt;
$border: 0.125in; /* this changes when manufacturing (0.125" normally, 0.25" with bleed), hence.... */
$edge: 0.125in;
$padding: 6pt;
$tiny: 2pt;
$thin: 0.8pt;
$border-weight: 1.1pt; /* note that this also needs to be changed in banner SVG files */

$icon-width: 0.15in;
$footer-height: 0.4in;

$font-header: "Marko One", serif !important;
$font-body: "minion-pro", serif !important;


/* For the printer - @ 2.75"x3.75"*/
body.printer {
  $border: 0.25in;
  .printInstructions {
    display: none !important;
  }
  .card {
    width: 2.75in !important;
    height: 3.75in !important;
  }
  .page {
    width: 2.75in !important;
    height: 3.75in !important;
    /*&.backs {
      transform: none;

      .card {
        transform: none;
      }
    }*/
  }
  .flavortext {
    margin-bottom: 0;
  }
  .card {
    border-radius: 0in !important;
    &.front, &.back {
      border: $border solid white;
    }
    &.Encounter {
      border: $border solid black;
    }
  }
}

body.printandplay .card.Encounter {
  background-color: #444;
  border-color: #444 !important;
  footer .tier, footer .cardType {
    background-color: #444;
  }
}

body.hideBacks {
  .backs {
    display: none;
  }
}

/* === THE CARDS === */
.card {

  width: 2.5in;
  height: 3.5in;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: bottom;
  background: white;
  font-family: $font-body;
  font-size: $base;

  border-radius: 2 * $border;  /* poker card border radius, on top of the border width */

  strong .symbol {
    font-weight: normal;
  }

  ol, ul {
    margin: 0;
    padding: 0;
  }

  .tier {
    font-family: $font-header !important;
  }

  &.Ability {
    .indicators {
      font-weight: bold;
      font-family: $font-header;

      .description {
        font-weight: normal;
        font-family: $font-body;
      }
    }

    strong {
      font-family: $font-header;
      font-size: 100%;
    }
  }


  &.Encounter, &.Adventurer {
    .contents {
      width: 3.5in - 2*$border;
      height: 2.5in - 2*$border;
      transform: rotate(90deg);
      transform-origin: 34.8% 44.5%; /* the magic raio??? */
      margin: $border;
      box-sizing: border-box;
      position: relative;
    }
  }

  .inline_icon {
    height: $icon-width;
    line-height: $icon-width;
    width: auto;
    display: inline-block;
    vertical-align: initial;
    margin: 0.014in 0 -0.014in 0;
    padding: 0 0.01in; /* prevents icon truncation */

    .svg {
      height: $icon-width;
      width: auto;
    }
  }

  &.back {
    border: $border solid white;
    border-radius: 0;
  }
  &.front {
    border: $border solid $text-color;
  }

  header {

    position: relative;
    padding: 3*$tiny $edge 0 $edge;

    font-size: $large;
    font-family: $font-header;

    .name {
      letter-spacing: -0.5pt;
    }

    .abilityType {
      position: absolute;
      top: 0;
      right: $edge;
      width: 0.325in;
      padding: $padding 0;
      background: url(../img/ability-banner.svg) no-repeat;

      .svg {
        margin: 0;
        padding: 0 0 0 .0375in;
        width: 0.25in;
        height: auto;
      }
    }

    .health {
      float: right;
      padding-left: $tiny;

      .svg {
        margin: 0;
        padding-left: 0.04in;
      }
    }
  }


  article {

    position: relative;
    clear: left;
    margin: 0 $edge $edge $edge;
    padding: $padding 0 $padding $padding;
    line-height: 1.2;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0.68in;
      height: 1.1in;
      border-top: $border-weight solid $text-color;
      border-left: $border-weight solid $text-color;
    }

    /* Top left indicators */
    .indicators {
      /* fixed height for this box for consistent card layout */
      height: .5in;
    }

    .ongoing {
      margin-bottom: $base;
    }

    .ongoing2 {
      margin-top: -0.5 * $base;
    }

    .abilitytext {

      display: table;
      height: 1.65in;

      .child {
        display: table-cell;
        vertical-align: middle;
      }

      br {
        display: block;
        margin: 7px 0;
        content: "";
      }
    }
  }

  footer {

    position: absolute;
    left: $edge; bottom: $border; right: $edge;
    height: $footer-height;
    border-right: $thin solid $text-color;
    border-bottom: $thin solid $text-color;

    font-size: $small;

    .flavortext {
      text-align: right;
      font-style: italic;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: $padding;
      z-index: 999;
    }

    .cardType, .tier {
      font-family: $font-header;
      font-size: 0.8*$small;
      position: absolute;
      bottom: -0.4*$border;
      left: 0;
      padding-right: $padding;
      text-align: right;
      letter-spacing: 0.5px;
      line-height: 1;
      background: white;
    }
  }

  .hp-tracker-vertical {
    list-style: none;
    text-align: right;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0.3in;
    right: $border;
    z-index: 99;
    font-size: $base;

    li {
      line-height: 1;
      padding-bottom: 4.3pt;
    }
  }

  .hp-tracker-horizontal {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0 14pt 0.03in 0;
    position: absolute;
    right: $border;
    bottom: 0;
    font-size: $base;

    li {
      display: inline-block;
      float: right;
      padding-left: 8.6pt;
    }
  }

  &.Adventurer, &.Encounter {

    article {
      padding-right: 16pt;
    }

    footer {
      border-right: none;
      bottom: 0.275in;
      right: 0.315in;

      .flavortext {
        text-align: left;
      }
    }
  }

  &.Encounter {

    article {
      &:before {
        border-color: white;
      }
    }

    footer {
      border-color: white;

      .cardType {
        background-color: black;
      }

      .tier {
        background-color: black;
        left: 43%;
        right: 43%;
        text-align: center;
        font-size: 120%;
        font-weight: $bold;
        padding: 0;
        margin-bottom: -0.035in;
      }
    }
  }

  &.Loot {
    .abilityType {
      width: 0.28in;
      text-align: center;
    }
  }

  &.Helper ol {
    margin-top: 0.02in;
    margin-left: 0.18in;
    line-height: 1.1;

    li {
      padding-bottom: 0.055in;
    }
  }
}

/* === BACK-SIDE === */
/* height: 0; hide in web view - display: none; breaks rendering? */

.card.back {
  text-align: center;
  font-size: $huge;
  font-family: $font-header;

  .cardType {
    position: absolute;
    top: 0.5in; left: 0; right: 0;
  }

  .class {
    position: absolute;
    bottom: 0.5in; left: 0; right: 0;
  }

  .website {
    position: absolute;
    bottom: 0.16in; left: 0; right: 0;
    font-size: 75%;
    font-weight: normal;
  }

  &.Encounter, &.Adventurer {
    .cardType {
      top: 0.2in;
    }
    .class {
      bottom: 0.2in;
    }
  }

  .logo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.14in;
    width: 100%;
    height: 0.22in;

    img {
      height: 100%;
    }
  }

  .version {
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    top: 0.01in;
    left: 0;
    right: 0;
    opacity: 0.6;
  }

  .hp-tracker-vertical {
    top: 0.11in;
  }

  .hp-tracker-vertical, .hp-tracker-horizontal {
    font-size: $base;
    font-family: $font-body;
  }
}

footer {
  .class {
    font-size: 150%;
  }
}

/* === BACKGROUNDS === */
.Encounter {
  color: white;
  background: $text-color;
  border-radius: 0 !important;
  &.front, &.back {
    border-color: $text-color !important;
  }
  svg {
    fill: white;
  }
}

.card-background {
  content: "";
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;

  background: no-repeat center center;
  background-size: 1in 1in;
}
.card.front:after {
  @extend .card-background;
  opacity: 0.10;
  background-position: 98% 8%;
}
.card.front.Loot:after {
  background-position: 98% 20%;
}
.card.front.Encounter:after, .card.front.Adventurer:after {
  @extend .card-background;
  opacity: 0.1;
  transform: rotate(90deg);
  height: 1in;
  width: 1in;
  top: 2.5in;
  left: 0.75in;
}
.card.front.Encounter:after {
  opacity: 0.3;
}
.card.back:after {
  @extend .card-background;
}
.card.back.Encounter:after, .card.back.Adventurer:after {
  @extend .card-background;
  transform: rotate(90deg);
  height: 3.5in - 2*$border;
  width: 2.5in - 2*$border;
}

.card.Loot { &:before, &:after {
  background-image: url(../img/icon/loot.svg) !important;
}}
.card.Adventurer { &:before, &:after {
  background-image: url(../img/icon/adventurer.svg) !important;
}}
.card.Title { &:before, &:after {
  background-image: url(../img/icon/title.svg) !important;
}}
.card.Melee { &:before, &:after {
  background-image: url(../img/icon/melee.svg) !important;
}}
.card.Ranged { &:before, &:after {
  background-image: url(../img/icon/ranged.svg) !important;
}}
.card.Magic { &:before, &:after {
  background-image: url(../img/icon/magic.svg) !important;
}}
.card.Music { &:before, &:after {
  background-image: url(../img/icon/music.svg) !important;
}}
.card.Encounter.Bandit, { &:before, &:after {
  background-image: url(../img/icon/bandit_white.svg) !important;
}}
.card.Encounter.Beast, { &:before, &:after {
  background-image: url(../img/icon/beast_white.svg) !important;
}}
.card.Encounter.Fae, { &:before, &:after {
  background-image: url(../img/icon/fae_white.svg) !important;
}}
.card.Encounter.Undead, { &:before, &:after {
  background-image: url(../img/icon/undead_white.svg) !important;
}}
